.background{
    position: absolute;
    width: clamp(100svw,100svw,120svw);
    height: clamp(100svh,100svh,120svh);
    z-index: -1000;
    object-fit: cover;

}
.imgs {
    width: 5rem;
    height: 3rem;
}
.bgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100svw;
    height: 5rem;
    gap: 50px;
    flex-direction: row;
    margin-inline: .2rem;
}
.bgs span {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.container {
    display: grid;
    width: clamp(40svw,100svw,120svw);
    height: clamp(40svh,100svh,120svh);
    grid-template-rows: 1fr 1fr;
}
.content {
    grid-row: 2/3;
    justify-self: center;
}
.content span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content span i {
    font-size: 7rem;
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.content h1 {
    cursor: pointer;
    font-family:  "Pixelify Sans", sans-serif;
}
.message {
    background-color:bisque;
    width: clamp(10rem,30rem,40rem);
    height: clamp(7rem,20rem,25rem);
    position: absolute;
    margin-bottom: 6rem;
    display:grid;
    grid-template-columns:1fr 1rem;
    z-index: 1000;
}
.message p {
    justify-content: end;
   bottom:0;
   z-index: 1000;

}
.message2 {
    display:grid;
    grid-column: 1/2;
    grid-template-rows: 1fr 2rem;
}
.message button {
    grid-column:2/3;
    font-size:1.4rem;
}
.message2 p{
    font-family: 'Patrick Hand';
    font-weight: 500;
    margin: 0 1rem;
    margin-top: 1rem;
    font-size:1.4rem;
    
}
.message2 h3 {
    grid-row: 2/3;
    bottom: 0;
    margin: 0 auto;
    font-size:.8rem;
    font-family: "Pixelify Sans", sans-serif;
}
.content button {
    background-color:transparent;
    width: 1rem;
    aspect-ratio: 1;
    top:.5rem;
    border:none;
    left:.5rem;
    cursor:pointer;
    font-size: 1.4rem;
    font-weight: 700;

}
.blurry {
    filter: blur(8px);
}
@media screen and (max-width:670px) {
    .background {
        width:100svw;
        height:100svh;
    }
    .imgs {
        width: 4rem;
        height: 2rem;
    }
    .bgs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100svw;
        height: 10rem;
        flex-direction: row;
    }
    .bgs span {
        display:flex;
        flex-wrap:wrap;
        gap:5px;
    }

}
@media screen and (max-width:340px) {
    .content span i {
        font-size: 5rem;
        color: white;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .content h1 {
        cursor: pointer;
        font-family:  "Pixelify Sans", sans-serif;
        font-size:1.2rem;
    }   
    .message {
        max-width: 10rem;
        min-width: 6rem;
        max-height: 10rem;
        min-height: 7rem;
    }
    .message2 {
        grid-template-rows: 1fr .8rem;

    }
    .message2 p {
        font-size: .6rem;

    }
    .message2 h3 {
        font-size: .4rem;
    }
}
@media screen and (max-width:200px) {
    .message button {
        font-size: .8rem;
        padding-right: 2px;
    }
    .content h1 {
        cursor: pointer;
        font-family:  "Pixelify Sans", sans-serif;
        font-size:1rem;
        text-align: center;
    }   
    .bgs img {
        width: 3rem;
        height: 2rem;
    }
    .message {
        margin-inline: 1rem;
        max-width: 180px;
        grid-template-columns:1fr 20px;
    }
    .message2 h3 {
        font-size: .4rem;
    }
}