.container > img {
    position: absolute;
    width: clamp(200px , 100svw , 110svw);
    height: clamp(530px , 100svh,110svh);
    z-index: -5;
    box-sizing: content-box;
}
.bgs {
    width: clamp(200px , 100svw , 110svw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem .2rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    padding-inline: 8px;
}
.bgs img {
    width: clamp(1rem,5rem,5rem);
    height: clamp(2rem,3rem,5rem);
    margin-right: .5rem;
    cursor: pointer;
}
.bgs p {
    font-size: clamp(.8rem,1.2rem,1.4rem);
    margin-right: 1rem;
    font-size: 'Pixelify Sans';
}
.content {
    width: clamp(200px , 100svw , 110svw);
    height: clamp(10rem , 30rem , 40rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-inline: 8px;
}
.content span {
    height: clamp(10rem,20rem,30rem);
    width: clamp(8rem,25rem,35rem) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content span i {
    font-size: 4rem;
}
.content span h1 {
    font-size: 2.4rem;
    text-align: center;
}
.message {
    position: absolute;
    background-color:bisque;
    height: clamp(10rem,20rem,35rem);
    width: clamp(16rem,30rem,50rem) ;
    display: grid;
    grid-template-rows: 2rem 1fr 1rem;
    margin-inline: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.message p {
    align-self: center;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Patrick Hand';
    padding-inline: 4px;
}
.cancel {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: .5rem;
}
.message button {
    padding: 2px;
    padding-right: 4px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}
.message h3 {
    text-align: center;
    padding-bottom: 4px;
    font-size: .8rem;
}
.blurry {
    filter: blur(8px);
}
button {
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .message {
        height: clamp(5rem,10rem,35rem);
        width: clamp(5rem,25rem,50rem) ;
        grid-template-rows: 1rem 1fr 1rem;
        margin-inline: 8px;
        margin-bottom: 8px;
    }   
    .message p {
        text-wrap: wrap;
        font-size: 1rem;
    }
    .message h3 {
        font-size: .6rem;
    }
    .message button{
        font-size: .8rem;
    }
    .bgs img {
        width: 2.5rem ;
        height: 2rem ;
    }
}
@media screen and (max-width:390px) {
    .message {
    max-width: 15rem;
    }

}
@media screen and (max-width:250px) {
    .message {
    width: 7rem;
    }
    .message p {
    font-size: .8rem;
}
.message h3 {
font-size: .4rem;}

}
@media screen and (max-width:200px) {
    .container > img {
        max-width: 200px ;
        min-width: 160px ;
        max-height: 600px;
        min-height:600px;
        object-fit:cover;
    }
    .content h1 {
        font-size: 1rem;
    }
    .message p  {
        font-size: .6rem;
    }
    .message {
        margin-inline:2px;
    }
}